# AI in BME - Group 4 
# Cleaning the Datasets and Merging Them

In [ ]:
import numpy as np 
import pandas as pd

## Data Exploration, Inspect Column Types, Encode Categorical, Make the Columns have the same names across individual datasets for merging

### Dataset 3

In [ ]:
df3= pd.read_csv("/Users/user/Downloads/diabetes_prediction_dataset.csv")
df3.head()

In [ ]:
df3.info()

In [ ]:
cols3 = df3.columns
print(cols3)

In [ ]:
nulls= df3.isnull().sum()
print(nulls)

In [ ]:
for col in cols3:
    print("Column :", col, df3[col].nunique())

The dataframe has 8 colums: gender', 'age', 'hypertension', 'heart_disease', 'smoking_history', 'bmi', 'HbA1c_level', 'blood_glucose_level', 'diabetes'

We have 100,000 patient entries, and no missing values for any column

In [ ]:
for col in cols3:
    print("Column :", col, "has", len(df3[col].unique()), "unique entries:", df3[col].unique())

In [ ]:
Hypertension, HeartDisease, and Diabetes are Binary

Age, bmi, hbaic, blood glucose are numeric (continuous (bmi) and discrete)

Smoking history is a string, categorical

In [ ]:
for col in cols3:
    print("Column", col, ": \n", df3[col].value_counts())

In [ ]:
print("Column gender:", df3['gender'].value_counts()['Other']) ## we can drop these 18 entries if needed

### Dataset 4

In [ ]:
df4 = pd.read_csv("/Users/user/Downloads/Diabetes Dataset/Dataset_of_Diabetes.csv")
df4.head()

In [ ]:
df4.info()

In [ ]:
cols4 = df4.columns
print(cols4)

In [ ]:
nulls= df4.isnull().sum()
print(nulls)

In [ ]:
for col in cols4:
    print("Column :", col, df4[col].nunique())

We have common IDs, join them together for the same patient

In [ ]:
for col in cols4:
    print("Column", col, ": \n", df4[col].value_counts())

In [ ]:
print(df4['CLASS'].unique())
print(df4['CLASS'].value_counts())
print("MODIFIED")
df4['CLASS'] = df4['CLASS'].str.replace('Y ', 'Y').str.replace('N ', 'N')
print(df4['CLASS'].unique())
print(df4['CLASS'].value_counts())

In [ ]:
# drop the one f 
value_to_drop = 'f'

df4 = df4[df4['Gender'] != value_to_drop]

df4.info()

## Join the datasets together

In [ ]:
# first, add an ID for the first dataframe 
patient_ids = list(range(0, len(df3)))

# Add patient IDs to the DataFrame
df3.insert(0, 'Patient_ID', patient_ids)
df3.head()

In [ ]:
df3_new= df3.rename(columns={"gender": "Gender", "age": "AGE", "HbA1c_level": "HbA1c", "diabetes": "CLASS", "bmi": "BMI", "Patient_ID": "ID"})
df3_new

In [ ]:
df4["ID"] = range(df3_new['ID'].max() + 1, df3_new['ID'].max() + 1 + len(df4))
df4["ID"]

In [ ]:
df_combined = pd.concat([df3_new, df4], ignore_index=True)
df_combined.info()

In [ ]:
print(df_combined['CLASS'].unique())
for col in df_combined.columns:
    # Check if the column is "CLASS"
    if col == "CLASS":
        # Replace "N" with 0 and "Y" with 1
        df_combined[col].replace({"N": 0, "Y": 1, "P":1}, inplace=True)
print(df_combined['CLASS'].unique())
df_combined.head()

In [ ]:
df_combined['Gender'] = df_combined['Gender'].str.replace('Female', 'F').str.replace('Male', 'M')
df_combined.head()

In [ ]:
filtered_df = df_combined[df_combined['AGE'] < 5]
filtered_df

In [ ]:
filtered_df['CLASS'].unique()

In [ ]:
df_combined.to_csv("cleaned_df_final.csv", index= False)

In [2]:
df1= pd.read_csv("/Users/user/Downloads/dataset1.csv")
df1.head()

,CLASS,hypertension,Chol,CholCheck,BMI,smoking_history,Stroke,heart_disease,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Gender,AGE,Education,Income
0,0,1,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,0,0,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,0,1,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,0,1,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,0,1,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4

In [3]:
df2= pd.read_csv("/Users/user/Downloads/dataset2.csv")
df2.rename(columns={'Id': 'ID'}, inplace=True)
df2.head()

,ID,blood_glucose_level,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,AGE,CLASS
0,1,148,72,35,0,33.6,0.627,50,1
1,2,85,66,29,0,26.6,0.351,31,0
2,3,183,64,0,0,23.3,0.672,32,1
3,4,89,66,23,94,28.1,0.167,21,0
4,5,137,40,35,168,43.1,2.288,33,1

In [4]:
df = pd.read_csv("/Users/user/Desktop/Spring2024/AI Applications in BME/cleaned_df_final.csv")
df.head()

,ID,Gender,AGE,hypertension,heart_disease,smoking_history,BMI,HbA1c,blood_glucose_level,CLASS,No_Pation,Urea,Cr,Chol,TG,HDL,LDL,VLDL
0,0,F,80.0,0.0,1.0,never,25.19,6.6,140.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,F,54.0,0.0,0.0,No Info,27.32,6.6,80.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,M,28.0,0.0,0.0,never,27.32,5.7,158.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,F,36.0,0.0,0.0,current,23.45,5.0,155.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,M,76.0,1.0,1.0,current,20.14,4.8,155.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
origcleaned_df = df
dataset1_df = df1
dataset2_df = df2

# tempMove = origcleaned_df.pop('CLASS')
# origcleaned_df['CLASS'] = tempMove

# classMove = dataset1_df.pop('CLASS')
# dataset1_df['CLASS'] = classMove

mergedsome_df = pd.concat([origcleaned_df, dataset1_df], axis=0, ignore_index=True)
# classMove = mergedsome_df.pop('CLASS')
# mergedsome_df['CLASS'] = classMove

merged_df = pd.concat([mergedsome_df, dataset2_df], axis=0, ignore_index=True)
# classMove = merged_df.pop('CLASS')
# merged_df = merged_df.drop('Id', axis=1)
# merged_df['CLASS'] = classMove
merged_df.columns

Index(['ID', 'Gender', 'AGE', 'hypertension', 'heart_disease',
       'smoking_history', 'BMI', 'HbA1c', 'blood_glucose_level', 'CLASS',
       'No_Pation', 'Urea', 'Cr', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL',
       'CholCheck', 'Stroke', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Education', 'Income',
       'BloodPressure', 'SkinThickness', 'Insulin',
       'DiabetesPedigreeFunction'],
      dtype='object')

In [6]:
# df = pd.read_csv("/Users/user/Downloads/cleaned_df.csv")
# df.head()

In [7]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357447 entries, 0 to 357446
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        103767 non-null  float64
 1   Gender                    354679 non-null  object
 2   AGE                       357447 non-null  float64
 3   hypertension              353680 non-null  float64
 4   heart_disease             353680 non-null  float64
 5   smoking_history           353680 non-null  object
 6   BMI                       357447 non-null  float64
 7   HbA1c                     100999 non-null  float64
 8   blood_glucose_level       102768 non-null  float64
 9   CLASS                     357447 non-null  int64
 10  No_Pation                 999 non-null     float64
 11  Urea                      999 non-null     float64
 12  Cr                        999 non-null     float64
 13  Chol                      254679 non-null  float64
 14  TG                        999 non-null     float64
 15  HDL                       999 non-null     float64
 16  LDL                       999 non-null     float64
 17  VLDL                      999 non-null     float64
 18  CholCheck                 253680 non-null  float64
 19  Stroke                    253680 non-null  float64
 20  PhysActivity              253680 non-null  float64
 21  Fruits                    253680 non-null  float64
 22  Veggies                   253680 non-null  float64
 23  HvyAlcoholConsump         253680 non-null  float64
 24  AnyHealthcare             253680 non-null  float64
 25  NoDocbcCost               253680 non-null  float64
 26  GenHlth                   253680 non-null  float64
 27  MentHlth                  253680 non-null  float64
 28  PhysHlth                  253680 non-null  float64
 29  DiffWalk                  253680 non-null  float64
 30  Education                 253680 non-null  float64
 31  Income                    253680 non-null  float64
 32  BloodPressure             2768 non-null    float64
 33  SkinThickness             2768 non-null    float64
 34  Insulin                   2768 non-null    float64
 35  DiabetesPedigreeFunction  2768 non-null    float64
dtypes: float64(33), int64(1), object(2)
memory usage: 98.2+ MB

In [8]:
new_ids = range(1, len(merged_df) + 1)
merged_df['ID'] = new_ids
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357447 entries, 0 to 357446
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        357447 non-null  int64
 1   Gender                    354679 non-null  object
 2   AGE                       357447 non-null  float64
 3   hypertension              353680 non-null  float64
 4   heart_disease             353680 non-null  float64
 5   smoking_history           353680 non-null  object
 6   BMI                       357447 non-null  float64
 7   HbA1c                     100999 non-null  float64
 8   blood_glucose_level       102768 non-null  float64
 9   CLASS                     357447 non-null  int64
 10  No_Pation                 999 non-null     float64
 11  Urea                      999 non-null     float64
 12  Cr                        999 non-null     float64
 13  Chol                      254679 non-null  float64
 14  TG                        999 non-null     float64
 15  HDL                       999 non-null     float64
 16  LDL                       999 non-null     float64
 17  VLDL                      999 non-null     float64
 18  CholCheck                 253680 non-null  float64
 19  Stroke                    253680 non-null  float64
 20  PhysActivity              253680 non-null  float64
 21  Fruits                    253680 non-null  float64
 22  Veggies                   253680 non-null  float64
 23  HvyAlcoholConsump         253680 non-null  float64
 24  AnyHealthcare             253680 non-null  float64
 25  NoDocbcCost               253680 non-null  float64
 26  GenHlth                   253680 non-null  float64
 27  MentHlth                  253680 non-null  float64
 28  PhysHlth                  253680 non-null  float64
 29  DiffWalk                  253680 non-null  float64
 30  Education                 253680 non-null  float64
 31  Income                    253680 non-null  float64
 32  BloodPressure             2768 non-null    float64
 33  SkinThickness             2768 non-null    float64
 34  Insulin                   2768 non-null    float64
 35  DiabetesPedigreeFunction  2768 non-null    float64
dtypes: float64(32), int64(2), object(2)
memory usage: 98.2+ MB

### Impute Numerical Columns based on mean value

In [9]:
# numeric_columns_to_fill = ['No_Pation', 'Cr', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL']
numeric_columns_to_fill=[]

for column in merged_df.columns:
    column_datatype = merged_df[column].dtype
    if column_datatype== "float64" or column_datatype== "int64":
        numeric_columns_to_fill.append(column)

for col in numeric_columns_to_fill:
    mean_value= merged_df[col].mean()
    merged_df[col].fillna(mean_value, inplace=True)

merged_df.to_csv('filled_mean.csv', index=False)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357447 entries, 0 to 357446
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        357447 non-null  int64
 1   Gender                    354679 non-null  object
 2   AGE                       357447 non-null  float64
 3   hypertension              357447 non-null  float64
 4   heart_disease             357447 non-null  float64
 5   smoking_history           353680 non-null  object
 6   BMI                       357447 non-null  float64
 7   HbA1c                     357447 non-null  float64
 8   blood_glucose_level       357447 non-null  float64
 9   CLASS                     357447 non-null  int64
 10  No_Pation                 357447 non-null  float64
 11  Urea                      357447 non-null  float64
 12  Cr                        357447 non-null  float64
 13  Chol                      357447 non-null  float64
 14  TG                        357447 non-null  float64
 15  HDL                       357447 non-null  float64
 16  LDL                       357447 non-null  float64
 17  VLDL                      357447 non-null  float64
 18  CholCheck                 357447 non-null  float64
 19  Stroke                    357447 non-null  float64
 20  PhysActivity              357447 non-null  float64
 21  Fruits                    357447 non-null  float64
 22  Veggies                   357447 non-null  float64
 23  HvyAlcoholConsump         357447 non-null  float64
 24  AnyHealthcare             357447 non-null  float64
 25  NoDocbcCost               357447 non-null  float64
 26  GenHlth                   357447 non-null  float64
 27  MentHlth                  357447 non-null  float64
 28  PhysHlth                  357447 non-null  float64
 29  DiffWalk                  357447 non-null  float64
 30  Education                 357447 non-null  float64
 31  Income                    357447 non-null  float64
 32  BloodPressure             357447 non-null  float64
 33  SkinThickness             357447 non-null  float64
 34  Insulin                   357447 non-null  float64
 35  DiabetesPedigreeFunction  357447 non-null  float64
dtypes: float64(32), int64(2), object(2)
memory usage: 98.2+ MB

### Impute Categorical Columns based on presence or absence of variable

In [10]:
print(merged_df['smoking_history'].unique())
merged_df['smoking_history'].fillna('No Info', inplace=True)
print(merged_df['smoking_history'].unique())

['never' 'No Info' 'current' 'former' 'ever' 'not current' nan 1 0]
['never' 'No Info' 'current' 'former' 'ever' 'not current' 1 0]

In [11]:
for col in merged_df.columns:
    # Check if the column is "CLASS"
    if col == "smoking_history":
        # Replace "N" with 0 and "Y" with 1
        merged_df[col].replace({0: 'never', 1: 'current'}, inplace=True)

print(merged_df['smoking_history'].unique())

['never' 'No Info' 'current' 'former' 'ever' 'not current']

In [12]:
print(merged_df['Gender'].unique())
nan_count = merged_df['Gender'].isna().sum()
print(nan_count)
print(len(merged_df))
print((nan_count/len(merged_df))*100)

['F' 'M' 'Other' 0 1 nan]
2768
357447
0.7743805375342359

In [13]:
for col in merged_df.columns:
    # Check if the column is "CLASS"
    if col == "Gender":
        # Replace "N" with 0 and "Y" with 1
        merged_df[col].replace({0: 'F', 1: 'M'}, inplace=True)

In [14]:
val_counts= merged_df['Gender'].value_counts()
print(val_counts)
nan_count = merged_df['Gender'].isna().sum()
print("NaN:", nan_count)

F        200960
M        153701
Other        18
Name: Gender, dtype: int64

NaN: 2768

In [15]:
merged_df = merged_df.dropna(subset=['Gender'])
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354679 entries, 0 to 354678
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        354679 non-null  int64
 1   Gender                    354679 non-null  object
 2   AGE                       354679 non-null  float64
 3   hypertension              354679 non-null  float64
 4   heart_disease             354679 non-null  float64
 5   smoking_history           354679 non-null  object
 6   BMI                       354679 non-null  float64
 7   HbA1c                     354679 non-null  float64
 8   blood_glucose_level       354679 non-null  float64
 9   CLASS                     354679 non-null  int64
 10  No_Pation                 354679 non-null  float64
 11  Urea                      354679 non-null  float64
 12  Cr                        354679 non-null  float64
 13  Chol                      354679 non-null  float64
 14  TG                        354679 non-null  float64
 15  HDL                       354679 non-null  float64
 16  LDL                       354679 non-null  float64
 17  VLDL                      354679 non-null  float64
 18  CholCheck                 354679 non-null  float64
 19  Stroke                    354679 non-null  float64
 20  PhysActivity              354679 non-null  float64
 21  Fruits                    354679 non-null  float64
 22  Veggies                   354679 non-null  float64
 23  HvyAlcoholConsump         354679 non-null  float64
 24  AnyHealthcare             354679 non-null  float64
 25  NoDocbcCost               354679 non-null  float64
 26  GenHlth                   354679 non-null  float64
 27  MentHlth                  354679 non-null  float64
 28  PhysHlth                  354679 non-null  float64
 29  DiffWalk                  354679 non-null  float64
 30  Education                 354679 non-null  float64
 31  Income                    354679 non-null  float64
 32  BloodPressure             354679 non-null  float64
 33  SkinThickness             354679 non-null  float64
 34  Insulin                   354679 non-null  float64
 35  DiabetesPedigreeFunction  354679 non-null  float64
dtypes: float64(32), int64(2), object(2)
memory usage: 100.1+ MB

In [16]:
merged_df.to_csv("merged_final.csv", index= False)

In [17]:
print(df['No_Pation'].unique())
print(df['Cr'].unique())
print(df['Chol'].unique())
print(df['TG'].unique())
print(df['HDL'].unique())
print(df['LDL'].unique())
print(df['VLDL'].unique())

[          nan 1.7975000e+04 3.4221000e+04 4.7975000e+04 8.7656000e+04
 3.4223000e+04 3.4224000e+04 3.4225000e+04 3.4227000e+04 3.4229000e+04
 3.4230000e+04 3.4231000e+04 3.4232000e+04 4.6815000e+04 3.4234000e+04
 3.4235000e+04 3.4236000e+04 3.4237000e+04 8.7654000e+04 3.4238000e+04
 3.4239000e+04 3.4240000e+04 1.2744000e+04 3.4302000e+04 3.4282000e+04
 3.4242000e+04 4.6675000e+04 4.5566000e+04 3.4309000e+04 8.7664000e+04
 3.4245000e+04 3.4246000e+04 3.4294000e+04 7.5435657e+07 8.7655000e+04
 3.4290000e+04 3.4248000e+04 3.4249000e+04 3.4298000e+04 3.4250000e+04
 3.4251000e+04 3.4299000e+04 3.4285000e+04 4.8759000e+04 3.4293000e+04
 6.4020000e+03 3.4254000e+04 7.8554000e+04 3.4255000e+04 3.4517000e+04
 3.4257000e+04 3.4258000e+04 3.4259000e+04 3.4260000e+04 3.4261000e+04
 3.4262000e+04 3.4295000e+04 3.4264000e+04 3.4271000e+04 3.4273000e+04
 3.4274000e+04 3.4275000e+04 3.4277000e+04 3.4281000e+04 2.1354000e+04
 8.5922000e+04 5.6841200e+05 1.1680000e+03 7.8956600e+05 8.5764000e+04
 8.6745000e+04 7.4174100e+05 2.1747000e+04 4.1720000e+03 4.2585000e+04
 8.5720000e+03 7.8585000e+04 5.7252000e+04 4.5396000e+04 4.5367000e+04
 4.5388000e+04 4.5399000e+04 4.5389000e+04 4.5374000e+04 4.5410000e+04
 4.5377000e+04 4.5390000e+04 4.5365000e+04 4.5381000e+04 4.5382000e+04
 4.5391000e+04 4.5369000e+04 4.5392000e+04 4.5406000e+04 4.5412000e+04
 4.5383000e+04 4.5434000e+04 4.5431600e+05 3.4241000e+04 4.6300000e+02
 4.6300000e+04 8.7671000e+04 4.8036000e+04 8.7667000e+04 3.4301000e+04
 3.0383000e+04 4.5573000e+04 4.7069000e+04 4.7496000e+04 2.9800000e+02
 1.3281000e+04 5.6826000e+04 4.8849600e+05 8.7658000e+04 8.7666000e+04
 8.7674000e+04 1.1826000e+04 4.7513000e+04 4.8969000e+04 2.3513000e+04
 3.4247000e+04 8.7661000e+04 8.7675000e+04 4.4433000e+04 1.1110000e+03
 2.6665000e+04 8.7659000e+04 8.7660000e+04 2.0321000e+04 8.7668000e+04
 8.7670000e+04 2.6925000e+04 3.4263000e+04 7.4020000e+03 8.7657000e+04
 8.7669000e+04 3.4296000e+04 2.9008000e+04 4.1281000e+04 8.7672000e+04
 8.7673000e+04 6.8500000e+02 1.9112000e+04 1.6550000e+03 5.4654300e+05
 2.5200000e+02 7.4140000e+03 4.5366000e+04 4.5397000e+04 4.5368000e+04
 4.5378000e+04 4.5384000e+04 2.3975000e+04 2.3977000e+04 2.3979000e+04
 3.3656789e+07 2.3984000e+04 6.7036000e+04 7.4532600e+05 2.3987000e+04
 7.6858500e+05 2.3990000e+04 9.7643000e+04 2.3994000e+04 1.2543000e+04
 3.4268000e+04 2.4000000e+04 1.4389000e+04 2.3044000e+04 2.3345700e+05
 3.4278000e+04 3.4279000e+04 2.4005000e+04 9.8600000e+03 3.4280000e+04
 3.4283000e+04 3.4284000e+04 3.4286000e+04 3.4270000e+04 2.4007000e+04
 3.4287000e+04 3.4288000e+04 7.3566000e+04 3.4243000e+04 6.6456000e+04
 8.7665000e+04 3.4291000e+04 3.4292000e+04 2.4009000e+04 2.4011000e+04
 2.4012000e+04 3.4253000e+04 7.8008700e+05 8.7544400e+05 6.6467878e+07
 2.4016000e+04 8.6440000e+03 3.4228000e+04 3.4297000e+04 8.7663000e+04
 3.4300000e+04 2.4018000e+04 2.4019000e+04 2.4020000e+04 2.4025000e+04
 3.4226000e+04 4.1044000e+04 4.8112000e+04 3.4305000e+04 3.4267000e+04
 8.7662000e+04 3.4306000e+04 3.4307000e+04 3.4269000e+04 3.4222000e+04
 4.6638000e+04 3.4266000e+04 3.4308000e+04 3.4310000e+04 3.4244000e+04
 3.4252000e+04 3.4311000e+04 2.4029000e+04 2.4030000e+04 2.4031000e+04
 2.4032000e+04 3.4312000e+04 2.4033000e+04 3.4313000e+04 3.9963000e+04
 3.4314000e+04 3.4315000e+04 4.7586000e+04 2.4034000e+04 2.4035000e+04
 2.4036000e+04 2.4037000e+04 2.4038000e+04 2.4039000e+04 3.4316000e+04
 3.4317000e+04 9.4230000e+03 3.4318000e+04 2.4040000e+04 3.4319000e+04
 9.9030000e+03 3.4320000e+04 2.4041000e+04 2.4042000e+04 2.4043000e+04
 2.4044000e+04 2.4045000e+04 2.4046000e+04 2.4047000e+04 1.3713000e+04
 3.4321000e+04 5.4320000e+03 3.4322000e+04 2.4048000e+04 2.4049000e+04
 2.4050000e+04 2.4051000e+04 2.4052000e+04 1.7922000e+04 4.4518000e+04
 3.4323000e+04 7.5433000e+04 3.4324000e+04 3.4325000e+04 2.3974000e+04
 4.8806000e+04 2.4053000e+04 2.4055000e+04 2.4056000e+04 2.4057000e+04
 3.4326000e+04 2.4058000e+04 2.4059000e+04 2.4060000e+04 5.4740000e+03
 3.4327000e+04 3.4328000e+04 3.4329000e+04 3.4330000e+04 3.4233000e+04
 1.2779000e+04 2.4061000e+04 2.4062000e+04 3.4331000e+04 2.3976000e+04
 2.4063000e+04 2.4064000e+04 2.4065000e+04 3.4332000e+04 4.7552000e+04
 4.1420000e+04 2.3972000e+04 2.3983000e+04 2.7988000e+04 4.6374000e+04
 3.4333000e+04 2.4066000e+04 2.4067000e+04 2.4068000e+04 2.4069000e+04
 2.4070000e+04 2.4071000e+04 2.4072000e+04 2.4073000e+04 2.4074000e+04
 3.4334000e+04 3.4510000e+03 3.4335000e+04 3.4336000e+04 3.4337000e+04
 2.3978000e+04 3.4338000e+04 4.5431000e+04 3.4339000e+04 2.4075000e+04
 2.4076000e+04 2.4077000e+04 2.4078000e+04 2.4079000e+04 2.4080000e+04
 2.4081000e+04 2.4082000e+04 8.2500000e+02 3.4340000e+04 3.4341000e+04
 3.4342000e+04 3.2750000e+03 3.4343000e+04 2.3973000e+04 4.6123000e+04
 9.5750000e+03 3.4344000e+04 3.4345000e+04 3.4346000e+04 2.4083000e+04
 2.4084000e+04 2.4085000e+04 2.4086000e+04 2.4087000e+04 2.4088000e+04
 2.4089000e+04 2.4090000e+04 5.6090000e+03 6.5780000e+03 3.4347000e+04
 2.3985000e+04 8.1090000e+03 3.4348000e+04 2.4091000e+04 2.4092000e+04
 2.4093000e+04 2.4094000e+04 3.4349000e+04 9.8960000e+03 3.4350000e+04
 3.4351000e+04 4.7295000e+04 2.4095000e+04 2.4096000e+04 2.4097000e+04
 2.4098000e+04 2.4099000e+04 2.4100000e+04 3.4352000e+04 5.6770000e+03
 8.4324540e+06 3.4353000e+04 3.9550000e+04 2.3996000e+04 2.3268000e+04
 3.4354000e+04 5.9800000e+03 3.4355000e+04 2.4101000e+04 2.4102000e+04
 2.4103000e+04 2.4104000e+04 2.4105000e+04 2.4106000e+04 2.4107000e+04
 2.4108000e+04 2.4109000e+04 2.4110000e+04 2.4111000e+04 4.5670000e+03
 7.8980000e+03 3.3450000e+04 3.4356000e+04 9.0514600e+05 2.4112000e+04
 2.4113000e+04 2.4114000e+04 8.5540000e+03 7.5433800e+05 3.4357000e+04
 3.4358000e+04 2.4115000e+04 3.4359000e+04 2.4116000e+04 2.4117000e+04
 2.4118000e+04 2.4119000e+04 2.3410000e+03 3.4360000e+04 3.4361000e+04
 4.6059000e+04 2.4120000e+04 2.4121000e+04 3.4362000e+04 8.9710000e+03
 3.4363000e+04 2.3992000e+04 4.3560000e+03 2.3450000e+03 2.3982000e+04
 3.4364000e+04 3.4365000e+04 2.4017000e+04 2.5368000e+04 3.4366000e+04
 6.3200000e+02 3.4367000e+04 3.4368000e+04 3.4369000e+04 3.4370000e+04
 4.6203000e+04 3.4445400e+05 6.6320000e+03 6.6624000e+04 2.3998000e+04
 3.4371000e+04 2.4024000e+04 3.4372000e+04 3.4373000e+04 3.4374000e+04
 3.4375000e+04 2.3456000e+04 3.4376000e+04 3.4377000e+04 4.8609000e+04
 3.4378000e+04 3.4379000e+04 3.4380000e+04 3.4381000e+04 3.4382000e+04
 3.4383000e+04 3.4384000e+04 2.3988000e+04 2.4008000e+04 3.4265000e+04
 3.4385000e+04 3.4386000e+04 4.0468000e+04 3.4387000e+04 4.9040000e+04
 3.4388000e+04 3.4389000e+04 4.1096000e+04 3.4390000e+04 9.8023000e+04
 9.4345000e+04 3.4391000e+04 2.3981000e+04 3.4392000e+04 3.4393000e+04
 4.7555000e+04 3.4394000e+04 3.4516000e+04 3.4395000e+04 3.4396000e+04
 2.3986000e+04 3.4397000e+04 4.1079000e+04 4.7478000e+04 3.4398000e+04
 3.5150000e+04 2.3989000e+04 6.0930000e+03 1.7416000e+04 3.4399000e+04
 3.4400000e+04 4.7889000e+04 4.7514000e+04 3.4401000e+04 3.4402000e+04
 3.4403000e+04 3.2336000e+04 3.4404000e+04 2.3980000e+04 4.6202000e+04
 4.5520000e+04 3.4405000e+04 2.0098000e+04 3.4406000e+04 3.4407000e+04
 4.3690000e+03 4.8822000e+04 3.9576000e+04 3.4408000e+04 7.4446700e+05
 3.4409000e+04 4.3261000e+04 2.4006000e+04 3.4410000e+04 3.4411000e+04
 3.4412000e+04 3.4413000e+04 3.4414000e+04 3.4415000e+04 4.5824000e+04
 2.3999000e+04 4.5219000e+04 3.4416000e+04 3.4417000e+04 8.7654300e+05
 3.4418000e+04 3.4419000e+04 5.4324000e+04 3.4420000e+04 4.7415000e+04
 6.4348000e+04 3.4421000e+04 3.4422000e+04 3.4423000e+04 4.5752000e+04
 3.4424000e+04 7.6870000e+03 3.4425000e+04 3.4426000e+04 4.4835000e+04
 2.1430000e+03 2.3457000e+04 2.8500000e+03 2.3995000e+04 3.4427000e+04
 3.4428000e+04 3.4429000e+04 2.3991000e+04 3.4430000e+04 3.4431000e+04
 2.4003000e+04 1.8590000e+03 3.4432000e+04 3.4433000e+04 3.4434000e+04
 2.5670000e+03 3.4435000e+04 4.9036000e+04 3.4436000e+04 3.4437000e+04
 3.4438000e+04 1.8645000e+04 3.4439000e+04 3.5635500e+05 3.4440000e+04
 4.0350000e+03 3.4256000e+04 2.4023000e+04 3.4441000e+04 3.4442000e+04
 3.4220000e+04 1.1868000e+04 4.8885000e+04 3.4443000e+04 7.3630000e+03
 3.4444000e+04 3.4445000e+04 3.4446000e+04 3.4447000e+04 3.4448000e+04
 3.4449000e+04 3.4450000e+04 3.4451000e+04 6.5400000e+02 3.4452000e+04
 3.4453000e+04 3.4454000e+04 7.7470000e+03 3.4455000e+04 3.4456000e+04
 2.5700000e+03 8.8760000e+03 3.4457000e+04 2.4027000e+04 2.3610000e+04
 1.2300000e+02 3.5250000e+03 2.3400000e+02 2.3993000e+04 4.6377000e+04
 3.4458000e+04 3.4459000e+04 2.3997000e+04 2.4022000e+04 3.4460000e+04
 3.4461000e+04 3.4462000e+04 2.4010000e+04 2.4001000e+04 2.4021000e+04
 2.4026000e+04 2.3480000e+03 4.3494000e+04 3.4463000e+04 2.6062000e+04
 4.2329000e+04 5.2370000e+03 1.6450000e+03 3.4464000e+04 4.7157000e+04
 3.4465000e+04 3.5706000e+04 3.4466000e+04 3.4467000e+04 2.4400000e+02
 7.4300000e+02 5.6700000e+02 7.8450000e+03 3.4468000e+04 3.4469000e+04
 4.8925000e+04 2.4028000e+04 3.4272000e+04 3.5920000e+03 8.5653000e+04
 3.4470000e+04 3.4471000e+04 3.4472000e+04 4.5703000e+04 4.5702000e+04
 4.8817000e+04 3.4473000e+04 3.4474000e+04 2.4002000e+04 3.4545400e+05
 2.4014000e+04 4.7768000e+04 3.4475000e+04 1.4560000e+04 5.3250000e+03
 3.5500000e+02 3.4476000e+04 3.4514000e+04 4.7177000e+04 4.3671000e+04
 3.4477000e+04 1.2180000e+03 3.4478000e+04 3.4479000e+04 1.1590000e+04
 9.8776000e+04 3.4480000e+04 3.4500000e+02 5.7400000e+02 8.8600000e+02
 3.4481000e+04 3.4482000e+04 3.2625000e+04 4.3604000e+04 3.2470000e+03
 8.5600000e+02 4.2564000e+04 4.5090000e+03 1.2890000e+03 3.4483000e+04
 2.2261000e+04 3.4484000e+04 3.4485000e+04 3.4486000e+04 3.4487000e+04
 3.4488000e+04 3.4303000e+04 3.4304000e+04 3.4489000e+04 3.4490000e+04
 3.5256000e+04 4.8353000e+04 3.4491000e+04 3.4492000e+04 2.7458000e+04
 2.0940000e+03 3.4276000e+04 2.3350000e+04 4.7175000e+04 7.3240000e+03
 8.6422000e+04 3.4493000e+04 5.3200000e+02 3.4494000e+04 3.4495000e+04
 3.4496000e+04 8.5322400e+05 1.5475000e+04 4.7337000e+04 3.4497000e+04
 3.4498000e+04 3.4499000e+04 4.2448000e+04 3.4500000e+04 3.4501000e+04
 3.4502000e+04 4.2927000e+04 2.3356000e+04 3.4503000e+04 3.4515000e+04
 2.4015000e+04 2.7010000e+04 3.4289000e+04 3.4504000e+04 3.4505000e+04
 3.4506000e+04 3.4507000e+04 1.0969000e+04 9.8700000e+02 2.4013000e+04
 3.4508000e+04 9.8564000e+04 3.4509000e+04 3.4510000e+04 5.6743000e+04
 2.1761000e+04 3.4511000e+04 3.4512000e+04 3.2171000e+04 3.9807000e+04
 2.4070000e+03 3.4513000e+04 3.4518000e+04 4.2211000e+04 3.4519000e+04
 3.4520000e+04 3.4521000e+04 1.2662000e+04 3.0340000e+03 3.4522000e+04
 4.8613000e+04 3.4523000e+04 4.8786000e+04 3.4524000e+04 3.4525000e+04
 3.4526000e+04 4.8088000e+04 4.8567000e+04 4.7994000e+04 3.4527000e+04
 4.8312000e+04 3.4528000e+04 7.5588900e+05 3.4529000e+04 3.4530000e+04
 4.8938000e+04 4.3539000e+04 3.4531000e+04 9.6250000e+03 3.4532000e+04
 3.4533000e+04 4.7065000e+04 3.4534000e+04 3.4535000e+04 3.4536000e+04
 3.4537000e+04 3.4538000e+04 3.4539000e+04 3.4540000e+04 3.8560000e+03
 3.4541000e+04 3.4542000e+04 4.8773000e+04 3.4543000e+04 2.0794000e+04
 4.8926000e+04 4.4836000e+04 3.4544000e+04 1.4950000e+03 8.7562000e+04
 3.4545000e+04 3.4546000e+04 3.4547000e+04 3.4548000e+04 3.4549000e+04
 3.4550000e+04 4.8858000e+04 3.4551000e+04 4.5370000e+04 3.4552000e+04
 3.4553000e+04 3.4554000e+04 3.4555000e+04 3.4556000e+04 4.7150000e+04
 3.4557000e+04 3.4558000e+04 3.4559000e+04 4.8704000e+04 9.8532200e+05
 3.4560000e+04 3.4561000e+04 4.5511000e+04 3.4562000e+04 3.4563000e+04
 4.0840000e+03 4.0725000e+04 3.4564000e+04 3.4565000e+04 4.5440000e+04
 3.4566000e+04 3.4567000e+04 3.4568000e+04 3.4569000e+04 4.8707000e+04
 3.4570000e+04 4.8362000e+04 1.3340000e+03 3.4571000e+04 3.4572000e+04
 3.4573000e+04 3.4574000e+04 3.4575000e+04 3.4576000e+04 4.8032000e+04
 3.4577000e+04 4.8511000e+04 3.4578000e+04 4.8086000e+04 3.4579000e+04
 3.4580000e+04 4.1248000e+04 1.8642000e+04 5.1477000e+04 4.5308000e+04
 7.9133000e+04 7.4921500e+05 4.6600000e+02 5.1567000e+04 6.5455000e+04
 5.1573000e+04 4.6545000e+04 1.4191000e+04 5.1623000e+04 7.5230000e+03
 5.1625000e+04 7.1255000e+04 4.9220000e+04 5.1646000e+04 7.8151000e+04
 5.1677000e+04 5.4150000e+03 6.5460000e+03 8.8510000e+03 8.7845100e+05
 3.5645000e+04 4.5845100e+05 4.5100000e+02 2.1500000e+02 1.2154000e+04
 2.2560000e+03 2.1560000e+03 2.1654000e+04 2.1654400e+05 8.4510000e+03
 6.4510000e+03 9.9630000e+03 4.5215000e+04 1.0365560e+06 7.8945100e+05
 4.5151310e+06 4.5340000e+03 5.6530000e+03 6.7564000e+04 4.3534000e+04
 6.5440000e+03 6.7340000e+03 7.4565400e+05 6.5456000e+04 4.5466000e+04
 3.4560000e+03 6.5645000e+04 3.5600000e+02 4.5645600e+05 2.3350000e+03
 3.4677000e+04 8.7876000e+04 7.8674500e+05 6.5632000e+04 2.4350000e+03
 8.9780000e+03 4.5640000e+03 5.7270000e+03 3.8580000e+03 7.1741000e+04
 7.1470000e+03 4.1741000e+04 8.7857820e+06 7.1750000e+03 5.5250000e+03
 2.4725500e+05 4.1578700e+05 8.5282000e+04 8.5872500e+05 7.8500000e+02
 5.8587000e+04 7.5275000e+04 4.5645000e+04 3.4545600e+05 4.6546000e+04
 5.6450000e+03 5.4640000e+03 2.4345000e+04 2.3324300e+05 5.6345000e+04
 4.5646000e+04 5.4656000e+04 4.5643000e+04 6.7547000e+04 7.5654350e+06
 8.6575400e+05 7.7657000e+04 5.6567000e+04 5.6547400e+05 6.5756000e+04
 5.6760000e+03 7.5634000e+04 5.4345300e+05 4.5447000e+04 4.5385000e+04
 4.5416000e+04 4.5386000e+04 4.5387000e+04 4.5373000e+04 4.5427000e+04
 4.5413000e+04 4.5375000e+04 4.5380000e+04 4.5448000e+04 4.5376000e+04
 4.5451000e+04 4.5398000e+04 4.5446000e+04 4.5393000e+04 4.5450000e+04
 4.5394000e+04 4.5449000e+04 4.5371000e+04 4.5452000e+04 4.5395000e+04
 4.5372000e+04 4.5441000e+04 4.5411000e+04 4.5414000e+04 4.5445000e+04
 4.5364000e+04 8.3457800e+05 4.5431700e+05 8.7653400e+05 2.4004000e+04
 2.4054000e+04]
[ nan  46.  62.  24.  50.  47.  67.  28.  55.  53.  42.  54.  39.  74.
 175.  73.  45.  80.  99.  49.  82.  70.  20.  48.  31.  44.  60.  57.
  40.  69.  52.  32.  38.  85.  64.  63.   6.  56.  58.  88.  61.  97.
 106.  35. 123.  79. 203. 132. 159.  83.  81.  87.  59.  75.  37. 344.
  77.  65.  76.  72.  96.  91. 370.  68.  23.  92.  71.  93.  78. 800.
  25.  34.  33. 146.  30. 136. 315.  66.  36.  95. 111.  41.  84.  86.
 243. 179. 120.  51. 130. 145.  26.  89.  98. 401. 112.  43. 139.  22.
 107. 230.  90.  27.  29. 126. 327. 101. 198. 228. 168. 114. 194. 150.
 113. 185.]
[  nan  4.2   3.7   4.9   2.9   3.6   3.8   4.    5.3   5.    4.4   0.5
  6.2   4.8   4.6   5.5   2.8   5.6   3.2   6.5   3.    9.5   4.7   5.2
  4.3   4.1   3.9   3.1   3.4   7.6   6.3   4.5   2.    0.    5.9   5.4
  2.1   6.1   5.7   5.1   6.    6.7   6.8   2.5   2.4   5.8   7.    7.1
  6.6   7.2   3.5   2.7   2.6   0.6   8.5   2.3   3.3   8.8   7.3   6.4
  6.9   9.9   9.8   9.3   7.9  10.3   9.7   9.1   1.2   6.12  8.4   7.7
  9.2   8.1   8.    7.4   8.6   7.5 ]
[  nan  0.9   1.4   1.    1.3   0.8   2.    0.7   1.1   1.7   1.5   1.9
  1.8   2.9   0.6   1.2   1.6   2.1   2.3   2.8   5.9   2.5   4.5   2.7
  3.5   5.3   3.9   3.7   3.    2.2   2.4   3.8   6.    3.1   3.2   4.4
  4.6   4.2   5.1   3.3   3.4   6.8   2.6   2.03  1.19  1.91  4.1   4.3
  3.6   4.9   0.3   5.4   5.8   6.7   5.    7.    4.   13.8   7.2   6.3
  7.7   5.5   0.5  12.7   4.7   8.7   8.5   4.8  11.6   5.7 ]
[ nan 2.4  1.1  0.8  1.   0.9  1.7  1.2  1.3  1.4  1.6  0.6  0.7  2.3
 2.1  2.   0.5  4.   1.5  1.8  2.5  0.75 1.9  3.9  2.8  3.1  1.95 6.6
 1.08 6.3  0.95 3.2  1.45 1.75 0.4  1.05 3.6  1.35 2.6  1.03 3.8  0.2
 3.4  1.85 1.73 9.9  5.   9.   2.2 ]
[ nan 1.4  2.1  2.   1.5  1.6  3.7  3.8  2.7  3.2  2.2  4.1  3.3  1.3
 2.8  4.6  2.3  3.6  3.   3.5  2.4  0.9  4.2  1.9  4.9  2.6  2.5  0.3
 1.7  1.2  1.8  4.3  3.4  1.1  3.1  1.   1.35 3.9  0.8  2.9  4.5  4.7
 0.6  0.7  1.95 9.9  4.4  5.   4.8  5.5  5.6  4.   0.75 0.95 0.96 7.5
 7.9  6.4  2.04 0.5  5.9  1.04 5.1  1.45 7.   5.3 ]
[ nan  0.5  0.6  0.4  1.   0.3  0.8  0.7  1.3  4.1  5.  14.5  0.2  1.2
  1.1  1.4  0.9  1.8  2.4  1.7  1.6 15.4  8.1  9.5 10.4 12.7  7.2 14.
 13.1 12.2 10.   1.5 31.8  3.1 22.2  1.9  0.1  2.2 22.7 35.  31.   2.
 11.3 16.3 33.6  2.6  2.1 19.5 18.1  6.3  7.   2.8 24.5  3.5 27.2  2.5
  5.8  3.4  9.   3.   5.2]

In [18]:
columns_to_fill = ['No_Pation', 'Cr', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL']
for col in columns_to_fill:
    mean_value= df[col].mean()
    df[col].fillna(mean_value, inplace=True)

df.to_csv('filled_mean.csv', index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100999 entries, 0 to 100998
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   100999 non-null  int64
 1   Gender               100999 non-null  object
 2   AGE                  100999 non-null  float64
 3   hypertension         100000 non-null  float64
 4   heart_disease        100000 non-null  float64
 5   smoking_history      100000 non-null  object
 6   BMI                  100999 non-null  float64
 7   HbA1c                100999 non-null  float64
 8   blood_glucose_level  100000 non-null  float64
 9   CLASS                100999 non-null  int64
 10  No_Pation            100999 non-null  float64
 11  Urea                 999 non-null     float64
 12  Cr                   100999 non-null  float64
 13  Chol                 100999 non-null  float64
 14  TG                   100999 non-null  float64
 15  HDL                  100999 non-null  float64
 16  LDL                  100999 non-null  float64
 17  VLDL                 100999 non-null  float64
dtypes: float64(14), int64(2), object(2)
memory usage: 13.9+ MB

In [19]:
df = pd.read_csv("/Users/user/Downloads/cleaned_df.csv")

# Assuming df is your DataFrame
columns_to_fill = ['No_Pation', 'Cr', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL']

for col in columns_to_fill:
    # Fill missing values with zero
    df[col].fillna(0, inplace=True)

df.to_csv('filled_zero.csv', index=False)

/var/folders/9q/c8gkplmx0c9f2y8ph9vd6dzc0000gn/T/ipykernel_28061/2299049408.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/user/Downloads/cleaned_df.csv")

In [20]:
df.head()

,ID,Gender,AGE,hypertension,heart_disease,smoking_history,BMI,HbA1c,blood_glucose_level,CLASS,No_Pation,Urea,Cr,Chol,TG,HDL,LDL,VLDL
0,0,F,80.0,0.0,1.0,never,25.19,6.6,140.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,1,F,54.0,0.0,0.0,No Info,27.32,6.6,80.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,2,M,28.0,0.0,0.0,never,27.32,5.7,158.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,3,F,36.0,0.0,0.0,current,23.45,5.0,155.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,4,M,76.0,1.0,1.0,current,20.14,4.8,155.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
final_df= pd.read_csv("/Users/user/Downloads/merged_final.csv")
final_df.head()

,ID,Gender,AGE,hypertension,heart_disease,smoking_history,BMI,HbA1c,blood_glucose_level,CLASS,...,GenHlth,MentHlth,PhysHlth,DiffWalk,Education,Income,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction
0,1,F,80.0,0.0,1.0,never,25.19,6.6,140.0,0,...,2.511392,3.184772,4.242081,0.168224,5.050434,6.053875,69.134393,20.824422,80.12789,0.471193
1,2,F,54.0,0.0,0.0,No Info,27.32,6.6,80.0,0,...,2.511392,3.184772,4.242081,0.168224,5.050434,6.053875,69.134393,20.824422,80.12789,0.471193
2,3,M,28.0,0.0,0.0,never,27.32,5.7,158.0,0,...,2.511392,3.184772,4.242081,0.168224,5.050434,6.053875,69.134393,20.824422,80.12789,0.471193
3,4,F,36.0,0.0,0.0,current,23.45,5.0,155.0,0,...,2.511392,3.184772,4.242081,0.168224,5.050434,6.053875,69.134393,20.824422,80.12789,0.471193
4,5,M,76.0,1.0,1.0,current,20.14,4.8,155.0,0,...,2.511392,3.184772,4.242081,0.168224,5.050434,6.053875,69.134393,20.824422,80.12789,0.471193

### Encode categorical columns to numerical (needed in this format for SHAP)

In [27]:
import pandas as pd

# Assuming df is your DataFrame
# Check the data types of columns
data_types = final_df.dtypes

# Separate columns into categorical and numerical
categorical_columns = data_types[data_types == 'object'].index.tolist()
numerical_columns = data_types[data_types != 'object'].index.tolist()

# Print the result
print("Categorical columns:", categorical_columns)
print("Numerical columns:", numerical_columns)

Categorical columns: ['Gender', 'smoking_history']
Numerical columns: ['ID', 'AGE', 'hypertension', 'heart_disease', 'BMI', 'HbA1c', 'blood_glucose_level', 'CLASS', 'No_Pation', 'Urea', 'Cr', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'CholCheck', 'Stroke', 'PhysActivity', 'Fruits', 'Veggies', 'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth', 'MentHlth', 'PhysHlth', 'DiffWalk', 'Education', 'Income', 'BloodPressure', 'SkinThickness', 'Insulin', 'DiabetesPedigreeFunction']

In [28]:
final_df['Gender'].unique()
final_df['smoking_history'].unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [29]:
final_df['Gender']= final_df['Gender'].replace({'F': 1,'M': 0, 'Other':2})

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
final_df['smoking_history']= label_encoder.fit_transform(final_df['smoking_history'])

In [30]:
final_df.head()

,ID,Gender,AGE,hypertension,heart_disease,smoking_history,BMI,HbA1c,blood_glucose_level,CLASS,...,GenHlth,MentHlth,PhysHlth,DiffWalk,Education,Income,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction
0,1,1,80.0,0.0,1.0,4,25.19,6.6,140.0,0,...,2.511392,3.184772,4.242081,0.168224,5.050434,6.053875,69.134393,20.824422,80.12789,0.471193
1,2,1,54.0,0.0,0.0,0,27.32,6.6,80.0,0,...,2.511392,3.184772,4.242081,0.168224,5.050434,6.053875,69.134393,20.824422,80.12789,0.471193
2,3,0,28.0,0.0,0.0,4,27.32,5.7,158.0,0,...,2.511392,3.184772,4.242081,0.168224,5.050434,6.053875,69.134393,20.824422,80.12789,0.471193
3,4,1,36.0,0.0,0.0,1,23.45,5.0,155.0,0,...,2.511392,3.184772,4.242081,0.168224,5.050434,6.053875,69.134393,20.824422,80.12789,0.471193
4,5,0,76.0,1.0,1.0,1,20.14,4.8,155.0,0,...,2.511392,3.184772,4.242081,0.168224,5.050434,6.053875,69.134393,20.824422,80.12789,0.471193

In [31]:
data_types = final_df.dtypes

# Separate columns into categorical and numerical
categorical_columns = data_types[data_types == 'object'].index.tolist()
numerical_columns = data_types[data_types != 'object'].index.tolist()

# Print the result
print("Categorical columns:", categorical_columns)
print("Numerical columns:", numerical_columns)

Categorical columns: []
Numerical columns: ['ID', 'Gender', 'AGE', 'hypertension', 'heart_disease', 'smoking_history', 'BMI', 'HbA1c', 'blood_glucose_level', 'CLASS', 'No_Pation', 'Urea', 'Cr', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'CholCheck', 'Stroke', 'PhysActivity', 'Fruits', 'Veggies', 'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth', 'MentHlth', 'PhysHlth', 'DiffWalk', 'Education', 'Income', 'BloodPressure', 'SkinThickness', 'Insulin', 'DiabetesPedigreeFunction']

### Save the final dataset

In [33]:
final_df.to_csv("/Users/user/Downloads/final_df_numerical.csv", index=False)